{% load i18n %}
{% load filters %}
{% include "header.html" %}
{% load static %}
{% block content %}
	<div class='row'>
		{% if msg %}
			<div class="alert alert-info">
				{{msg}}
			</div>
		{% endif %}
		{%if meetings%}
		<h2 class="text-center">{%trans "Here are events for admins to review"%}</h2>
		<div class="col-md-8 col-md-offset-2 well">
		<table class='table'>
		{%for meeting in meetings%}
		</tr>
	        <!-- <td>{{meeting.title}}</td> -->
	        <td>{{meeting.reservation.interval|jinterval}}</td>
	   		<td>{% blocktrans with meeting.reservation.room.name as roomname %}In room {{roomname}}{% endblocktrans %}</td>
	        <td><a class='btn btn-sabzabi' href="/meeting/{{meeting.id}}/confirm">{%trans "confirm"%}</a></td>
	        <td><a class='btn btn-primary' href="/meeting/{{meeting.id}}/cancel">{%trans "cancel"%}</a></td>
		</tr>
		{%endfor%}
		</table>
		</div>
		{% else %}
			<h2 class="text-center">{%trans "No event for admins to review"%}</h2>
		{%endif%}
	</div>
{% endblock %}