{% include "header.html" %}
{% load i18n %}

{% block content %}
	
	<script type="text/javascript">
 
	    $(document).ready(function () {
	    // Code adapted from http://djangosnippets.org/snippets/1389/  
	    function updateElementIndex(el, prefix, ndx) {
	        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
	        var replacement = prefix + '-' + ndx + '-';
	        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
	        replacement));
	        if (el.id) el.id = el.id.replace(id_regex, replacement);
	        if (el.name) el.name = el.name.replace(id_regex, replacement);
	    }

	    function deleteForm(btn, prefix) {
	    	var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        if (formCount > 1) {
	            // Delete the item/form
	            $(btn).parents('.item').remove();
	            var forms = $('.item'); // Get all the forms  
	            // Update the total number of forms (1 less than before)
	            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
	            var i = 0;
	            // Go through the forms and set their indices, names and IDs
	            for (formCount = forms.length; i < formCount; i++) {
	                $(forms.get(i)).children().children().each(function () {
					if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
			                });
			            }
			        } // End if
			        else {
			            alert("You have to enter at least one time interval!");
			        }
			        return false;
	    }

	    function addForm(btn, prefix) {
	    	var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
	        // You can only submit a maximum of 10 todo items 
	        if (formCount < 10) {
	            // Clone a form (without event handlers) from the first form
	            var row = $(".item:first").clone(false).get(0);
	            // Insert it after the last form
	            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

	            // Remove the bits we don't want in the new row/form
	            // e.g. error messages
	            $(".errorlist", row).remove();
	            $(row).children().removeClass("error");

	            // Relabel or rename all the relevant bits
	            $(row).children().children().each(function () {
	                updateElementIndex(this, prefix, formCount);
	                $(this).val("");
	            });

	            // Add an event handler for the delete item/form link 
	            $(row).find(".delete").click(function () {
	                return deleteForm(this, prefix);
	            });
	            // Update the total form count
	            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
	        } // End if
	        else {
	            alert("Sorry, you can only enter a maximum of ten items."+ formCount);
	        }
	        return false;
	    }
	    // Register the click event handlers
	    $("#add").click(function () {
	        return addForm(this, "2");
	    });

	    $(".delete").click(function () {
	        return deleteForm(this, "2");
	    });
	});

    </script>

		<div class="well col-md-4 col-md-offset-4 row" >
		
		{% if wizard.steps.current == '2' %}
			<h4>{%trans "Suggested time intervals for vote"%}</h4>
			<form action="" method="POST">
				{% csrf_token %}
				{{ wizard.management_form }}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
				<div class="item" id="id_form-TOTAL_FORMS">
					{{ form.as_p }}
					<p style=""><a class="delete" href="#">{%trans "Delete"%}</a></p>
				</div>
				{% endfor %}
				<p><a id="add" href="#">{%trans "Add another item"%}</a></p>
				<div class="form-actions center">
	                <button type="submit" class="btn btn-primary">{%trans "Next"%}<i class="icon-arrow-right icon-white"></i></button>
                </div>
			</form>
		{% elif wizard.steps.current == '1' %}
			<h4>{%trans "Guest list"%}</h4>
			<form action="" method="POST">
				{% csrf_token %}
				{{ wizard.management_form }}
				
				{{wizard.form.guests}}

				<br/> <h4>{%trans "Deadline"%}</h4>
				<div class="col-md-12 row"> <div class="col-md-9">{{wizard.form.year}} </div>
				 	<div class="col-md-2">{{wizard.form.year.label}}</div></div>
				<div class="col-md-12 row"> <div class="col-md-9">{{wizard.form.month}}</div>
					<div class="col-md-2">{{wizard.form.month.label}}</div></div>
				<div class="col-md-12 row"> <div class="col-md-9">{{wizard.form.day}}</div>
					<div class="col-md-2">{{wizard.form.day.label}}</div></div>
				<div class="col-md-12 row"> <div class="col-md-9">{{wizard.form.hour}}</div>
					<div class="col-md-2">{{wizard.form.hour.label}}</div></div>
				<div class="form-actions center submit-btn">
	                <button type="submit" class="btn btn-primary">{%trans "Next"%}<i class="icon-arrow-right icon-white"></i></button>
                </div>
			</form>
		
		{% else %}
			<form action="" method="post">
				 		{{ wizard.management_form }}
						{% csrf_token %}
						<table> 
					    	{{ wizard.form }}
						</table>
	                <div class="form-actions center">
		                <button type="submit" class="btn btn-primary">{%trans "Next"%}<i class="icon-arrow-right icon-white"></i></button>
	                </div>
			</form>
		{% endif %}	
		</div>

{% endblock %}