{% include "header.html" %}
{% load static %}
{% load filters %}
{% load i18n %}
{% block content %}
	<body style="direction:rtl;">
		<form method="post" action="/event/vote">
			{% csrf_token %}
			{{management_form}}
			<input type= "hidden" name="event_id" value="{{event_id}}"/>
			<div class="well" style="width:50%;">
			{% for ballet in votes %}
				{{ballet.option.date|jdate:LANGUAGE_CODE}} -- {% trans "from" %}
				{{ballet.option.start|jtime:LANGUAGE_CODE}} {% trans "to" %} 
				{{ballet.option.finish|jtime:LANGUAGE_CODE}}<br/>
				{{ballet.form}}
			<br/>
			{% endfor %}
			</div>
			<input type="submit" />
		</form>
	</body>
{%endblock%}