{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<script src="{{ STATIC_URL }}jquery.js"></script>
		<script src="{{ STATIC_URL }}bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}dynamic-formset.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap.min.css" type="text/css" />
	</head>
	<div style="margin:right; background-color: blue; padding-left: 15px; padding-top: 15px; padding-right: 15px">
	<img src="{{ STATIC_URL }}logo2.jpg" class="img-rounded" >
	<img src="{{ STATIC_URL }}logo2.jpg" class="img-rounded" style="float: right;">
	<hr/>
		
	</div>
</html>