<html>
	<head>
		<title>Home Page</title>
	</head>
	<body>
			<a href="/create/">Create a meeting</a>
			<a href="/event/1/view">Vote for a meeting/event</a>
			<div>
				javad
				{{request.path}}
				<div>
					</br>=====================================================</br>
					{{post}}
					</br>=====================================================</br>
					{{get}}
					</br>=====================================================</br>
				</div>
				jafar
				{{request.get_full_path}}
				{{authurl}}
			</div>
	</body>
</html>
