{% include "header.html" %}
{% load google_calendarize %}
{% block content %}
	
	{% if message %}
		<div class="alert alert-info">
			{{message}}
		</div>
	{% endif %}
	Here are your events:
	</br>
	</br>
	{%for folan in events%}
		<div class="well">
			{{folan.event.title}} &nbsp;&nbsp; 
			{% if not folan.is_closed%}
				<div class="alert alert-info">
					This event is still open to vote.
					{%if folan.is_vote_cast%}
						Your vote for this event is cast.
					{%else%}
						Your vote for this event is <b>not</b> cast.
					{%endif%}
					</br>
					<a class="btn btn-success" href="/event/{{folan.event.id}}/view">View</a>
					{% if folan.is_owner %}
						<a class="btn btn-primary" href="/event/{{folan.event.id}}/edit">Edit</a>
						<a class="btn btn-warning" href="/event/{{folan.event.id}}/revote">Revote</a></br>
					{% endif %}
				</div>
			{% elif folan.is_meeting and not folan.is_google_calendarizable %}
				<div class="alert alert-warning">
					This meeting is closed and waiting for admin confirmation. You can't Vote on it anymore.
					</br>
					{%if folan.is_vote_cast%}
						You had voted on it.
					{%else%}
						You hadn't voted on it, though!
					{%endif%}
					</br>
				</div>
			{% endif %}
			{% if folan.is_google_calendarizable %}
				<div class="alert alert-success">
					This event is closed and confirmed. You can add it to your calendar now!
					</br>
					<a  target="_newtab" class="btn btn-info" href="{{ folan.event.meeting|google_calendarize }}">+ Add to Google Calendar</a>
				</div>
			{% endif %}
		</div>
	{%endfor%}
{% endblock %}